.title {
    text-align: center;
  }
  
  .error-message {
    background: #ff9b9b;
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  
  .new-form, .loading {
    width: 50%;
    margin: 0 auto;
  }
  
  .loading {
    text-align: center;
  }